{% extends 'base.html' %}
{% block title %}Dashboard - SleepTracker{% endblock %}
{% block content %}

<h1 class="h3 mb-4">Dashboard</h1>

{% if entries %}
<table class="table table-hover align-middle mb-0 table-dark table-striped">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Bedtime</th>
      <th scope="col">Duration</th>
      <th scope="col">Quality</th>
    </tr>
  </thead>
  <tbody>
    {% for entry in entries %}
    <tr>
      <td>{{ entry.bedtime.strftime('%d %b %Y') }}</td>
      <td>{{ entry.bedtime.strftime('%H:%M') }}</td>
      <td class="'fw-semibold">
        {{ entry.duration_hrs}} hrs</td>
      <td>
        <span class="badge bg-{{ entry.quality_colour }}">
          {{ entry.quality }} - {{ entry.quality_label }}
        </span>
      </td>
    </tr>
    {% endfor %}
   </tbody>
</table>
{% else %}
<p>
  No entries yet.
  <a href="{{ url_for('sleep.log_sleep') }}">Log your first night !</a>
</p>
{% endif %}
<br>
{% if tip %}
<div class="card p-3 mb-4">
  <p class="fw-bold text-white">
    Daily wellness tip</p>
  <p class="fst-italic mb-1">
    "{{ tip.quote }}"</p>
  <small class="small text-white">
    - {{ tip.author }}</small>
</div>
{% endif %}

{% endblock %}