body {
    background-color: #e4dad1;
     .p1 {
  font-family: "Times New Roman", Times, serif;
}
}

h1 { 
    color: white;
    text-align:left;
}

p{
    font-family:italic;
    font-size: 20px;

}

h1.dashed {border-style: dashed;}